extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6.col-sm-12
        p
          | Перекусончик создан для того, чтобы помочь найти вам места для хорошего перекуса
          | <br><br>
          | Мы вам всегда рады!