extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Беляши от Аванеса
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p Московская набережная, строение 42
          .panel.panel-primary
            .panel-heading
              h2.panel-title Opening hours
            .panel-body
              p Понедельник - Пятница : 7:00 - 20:00
              p Суббота : 10:00 - 22:00
              p Воскресенье : Выходной
          .panel.panel-primary
            .panel-heading
              h2.panel-title Особенности
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; Национальная кухня
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; Выпечка
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; Еда на дом
              | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Местоположение
            .panel-body
              img.img-responsive.img-rounded(src='https://maps.googleapis.com/maps/api/staticmap?center=Moscow,&zoom=13&scale=false&size=400x350&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7CMoscow,+Novokuznetska')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new') Добавить отзыв
              h2.panel-title Отзывы посетителей
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                    span.reviewAuthor Никитин Владими
                    small.reviewTimestamp 16 Июля 2016
                  .col-xs-12
                    p Отличное место! Одни из самых вкусных беляшей в Москве.
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor Мария Иванова
                    small.reviewTimestamp 22 мая 2016
                  .col-xs-12
                    p Вкусная кухня, но официант, который обслуживал меня, совсем не говорил по русски.
    .col-xs-12.col-md-3
      p.lead
        | Мы рады найти для вас места для перекуса.
      p
        | Если вам понравилось или не понравилось это место. Оставьте свой отзыв, чтобы помочь другим.