extends layout
block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Перекусончик
          small &nbsp; Вжууууух! И ты накормлен!

  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .cos-xs-12.list-group-item
          h4
            a(href="/location") Беляши от Аванеса
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address Московская набережная, строение 42
          p
            span.label.label-warningl Национальная кухня
            | &nbsp;
            span.label.label-warning Выпечка
            | &nbsp;
            span.label.label-warning Еда на дом
            | &nbsp;

    .col-xs-12.col-sm-4
      p.lead Самый горячо любимый сервис, чтобы вкусно, а самое главное - качественно перекусить в своем городе!
